@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-cookie: var(--font-cookie);

  /* Colours */
  --color-rosewood: #4b2319;
  --color-maple: #d9c086;
  --color-ebony: #161111;
  --color-frets: #d8d8d8;
  --color-gold: #d4af37;
  --color-silver: #aaa9a9;

  --color-black: #101010;
  --color-grey-dark: #616161;
  --color-grey-mid: #969696;
  --color-grey-light: #acacac;
  --color-white: #efefef;
  --color-black-80: #000000cc; /* 80% opacity */
  --color-black-70: #000000b3; /* 70% opacity */
  --color-grey-dark-80: #616161cc; /* 80% opacity */
  --color-amber: #f58e42;
  --color-blue: #0284c7;
  --color-emerald: #059669;
  --color-fuchsia: #c026d3;
  --color-green: #15803d;
  --color-orange: #f97316;
  --color-pink: #f472b6;
  --color-purple: #7e22ce;
  --color-red: #dc2626;
  --color-rose: #f43f5e;
  --color-teal: #009689;
  --color-yellow: #facc15;

  /* Breakpoints */
  --breakpoint-xs-h: 37.5rem; /* 600px */
  --breakpoint-se-h: 41.688rem; /* 667px */
  --breakpoint-pro-h: 50rem; /* 800px */

  --breakpoint-3xl: 119rem; /* 1904px  */
  --breakpoint-4xl: 157rem; /* 2512px */
  --breakpoint-5xl: 178rem; /* 2848px */
}

@layer utilities {
  .translate-half-fret {
    translate: var(--half-fret-gap) 0;
  }
}

:root {
  --fretboard-colour: var(--color-rosewood);
  --string-colour: var(--color-gold);
  --note-colour: var(--color-green);
  --tonic-colour: var(--color-fuchsia);
  --headstock-bg: var(--color-black-70);
  --nut-colour: var(--color-black);
  --background: #2f2f2f;
  --foreground: #efefef;
  --sidebar-w-24: 288px; /* < 1440 */
  --sidebar-w-oth: 280px;
}

/* fretboard colour */
html[data-fretboard="rosewood"] {
  --fretboard-colour: var(--color-rosewood);
}
html[data-fretboard="maple"] {
  --fretboard-colour: var(--color-maple);
}
html[data-fretboard="ebony"] {
  --fretboard-colour: var(--color-ebony);
}
html[data-fretboard="pale"] {
  --fretboard-colour: var(--color-white);
}

/* nut and headstock colour */
html[data-headstock="rosewood"] {
  --headstock-bg: var(--color-black-70);
  --nut-colour: var(--color-black);
}
html[data-headstock="maple"] {
  --headstock-bg: var(--color-rosewood);
  --nut-colour: var(--color-black);
}
html[data-headstock="ebony"] {
  --headstock-bg: var(--color-grey-dark-80);
  --nut-colour: var(--color-grey-dark);
}
html[data-headstock="pale"] {
  --headstock-bg: var(--color-black-80);
  --nut-colour: var(--color-grey-dark);
}

/* string colour */
html[data-string="silver"] {
  --string-colour: var(--color-silver);
}
html[data-string="gold"] {
  --string-colour: var(--color-gold);
}

/* note colour */
html[data-note="black"] {
  --note-colour: var(--color-black);
  --note-text: var(--color-white);
  --hover-text: #fff;
}
html[data-note="blue"] {
  --note-colour: var(--color-blue);
  --note-text: var(--color-white);
  --hover-text: #fff;
}
html[data-note="green"] {
  --note-colour: var(--color-green);
  --note-text: var(--color-white);
  --hover-text: #fff;
}
html[data-note="orange"] {
  --note-colour: var(--color-orange);
  --note-text: var(--color-white);
  --hover-text: #fff;
}
html[data-note="pink"] {
  --note-colour: var(--color-pink);
  --note-text: var(--color-white);
  --hover-text: #fff;
}
html[data-note="purple"] {
  --note-colour: var(--color-purple);
  --note-text: var(--color-white);
  --hover-text: #fff;
}
html[data-note="red"] {
  --note-colour: var(--color-red);
  --note-text: var(--color-white);
  --hover-text: #fff;
}
html[data-note="turquoise"] {
  --note-colour: var(--color-teal);
  --note-text: var(--color-white);
  --hover-text: #fff;
}
html[data-note="yellow"] {
  --note-colour: var(--color-yellow);
  --note-text: var(--color-black);
  --hover-text: var(--color-black-80);
}
html[data-note="white"] {
  --note-colour: var(--color-white);
  --note-text: var(--color-black);
  --hover-text: var(--color-black-80);
}

/* tonic colour */
html[data-tonic="amber"] {
  --tonic-colour: var(--color-amber);
}
html[data-tonic="blue"] {
  --tonic-colour: var(--color-blue);
}
html[data-tonic="emerald"] {
  --tonic-colour: var(--color-emerald);
}
html[data-tonic="fuchsia"] {
  --tonic-colour: var(--color-fuchsia);
}
html[data-tonic="orange"] {
  --tonic-colour: var(--color-orange);
}
html[data-tonic="rose"] {
  --tonic-colour: var(--color-rose);
}
html[data-tonic="grey-dark"] {
  --tonic-colour: var(--color-grey-dark);
}
html[data-tonic="grey-mid"] {
  --tonic-colour: var(--color-grey-mid);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #e8e8e8;
  }
}

@custom-variant xs-h (@media (max-height: 600px));
@custom-variant se-h (@media (max-height: 667px));
@custom-variant pro-h (@media (min-height: 800px));

html,
body {
  position: fixed; /* pins the page */
  inset: 0; /* top/right/bottom/left: 0 */
  width: 100%;
  overflow: hidden; /* no vertical scroll on the page */
  overscroll-behavior: none; /* stop scroll chaining/rubber-band */
  touch-action: none; /* prevent vertical panning on the page */
  height: 100dvh; /* stable viewport height unit */
}
@supports (height: 100svh) {
  html,
  body {
    height: 100svh;
  } /* use svh on browsers that support it */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100svh;
}

/* Hide scrollbar */
@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
}

@layer base {
  html {
    @apply transition-colors duration-75 ease-in-out;
  }
}

@layer utilities {
  .sub-header {
    @apply font-semibold pb-2 px-2 text-grey-light text-xs lg:text-sm underline underline-offset-5;
  }
  .fret-spacing {
    @apply w-11 md:w-12 xl:w-13 2xl:w-14.5 3xl:w-16 4xl:w-22 5xl:w-25;
  }
  .nut-spacing {
    @apply w-12 2xl:w-14 3xl:w-18;
  }
  .custom-scrollbar {
    @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-rounded-md scrollbar-thumb-white/10;
  }
  .btn {
    @apply min-w-32 border hover:text-white text-white/80 py-1 px-3 md:px-6 rounded-md cursor-pointer text-sm;
  }
}

.direction-rtl {
  direction: rtl;
}
.direction-ltr {
  direction: ltr;
}

/* 3K @ 200% (>=1440)  xl size */
@media (min-width: 1440px) {
  :root {
    --sidebar-w-24: 244px;
    --sidebar-w-oth: 180px; /* TODO */
  }
}
/* 2.5K @ 150% (>=1700) 2xl size */
@media (min-width: 1700px) {
  :root {
    --sidebar-w-24: 192px;
    --sidebar-w-oth: 104px; /* TODO */
  }
}
/* FHD or 4K @ 200% (>=1920) 3xl size */
@media (min-width: 1904px) {
  :root {
    --sidebar-w-24: 164px;
    --sidebar-w-oth: 0px; /* TODO */
  }
}
/* 2.5K @ 100% (>=2560) 4xl size*/
@media (min-width: 2512px) {
  :root {
    --sidebar-w-24: 140px;
    --sidebar-w-oth: 176px; /* TODO */
  }
}
/* 3K @ 100% (>=2880) 5xl size */
@media (min-width: 2848px) {
  :root {
    --sidebar-w-24: 124px;
    --sidebar-w-oth: 176px; /* TODO */
  }
}
